body{
    margin: 0%;
}

.heroContainer, .dealContainer{
    background-color: rgb(252, 191, 223);
  height: 400px;
  display: flex;
  justify-content: center;

}
.heroLeft{
    margin-left:30px;
}
.heroTitle{
   
    width: 350px;
 
 font-size: 35px;
}
.heroParagraph, .dealParagraph, .socialParagraph{
    width: 700px;
    font-size: 20px;
}
.btn1, .btn2, .btn3{
    color: white;
    background-color: rgb(219, 109, 127);
   padding: 10px 20px;
   font-size: 15px;
   border: none;
   border-radius: 5px;
  
}
.heroimg{
height: 400px;
}

/* deal section */
.order{
    background-color: rgb(216, 216, 216);
    height:200px;
    width: 1200px;
    margin-left: 100px;
 padding-top: 20px;

}
.images{
    display: flex;
    justify-content: space-around;
}
.instaImages{
    display: flex;


}
.instaFlower{
    height:330px;
    padding-right: 20px;


}
.textdesign{
    display: flex;
    justify-content:space-around;
    font-size: 20px;
}
.dealContainer{
    background-color: rgb(252, 191, 223);
    height: 300px;
}
.dealLeft, .socialTop{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dealParagraph, .socialParagraph{
    text-align: center;
}
.color{
    color: deeppink;
}
.socialParagraph{
    justify-content: center;
    align-items: center
}
.LatestDeal{
    
    height: 200px;
   text-align: center;
   padding-top:100px;
   padding-bottom: 100px;
}

   .email
   {
    width: 400px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    text-align:start;
}
.reviewsSection{
    margin-left: 40px;
    
}
.mainParentdiv{
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
}


   
.reviewsImg{
    height: 100px;
    width: 100px;
border-radius: 50%;
}
.reviewsFavIcon{
    color: gold;
}
.reviewsParagraph{
    width: 200px;
    font-size: 19px;
}







.footerContainer{
    text-align: center;
    background-color: black;
    color: white;
   padding: 80px;

}
.textcolor{
    color:deeppink;
   
}
.footerH1{
    letter-spacing: 3px;
}
.footerH2{
   
 letter-spacing: 3px;
 font-weight: 500;
}
.footerH3{
    color: rgb(224, 215, 215);
}

