.heroContainer, .dealContainer{
    background-color: rgb(252, 191, 223);
  height: 400px;
  display: flex;
  justify-content: center;

}
.heroLeft{
    margin-left:30px;
}
.heroTitle{
   
    width: 350px;
 
 font-size: 35px;
}
.heroParagraph, .dealParagraph, .socialParagraph{
    width: 700px;
   
    font-size: 20px;
}
.btn1, .btn2, .btn3{
    color: white;
    background-color: rgb(219, 109, 127);
   padding: 10px 20px;
   font-size: 15px;
   border: none;
   border-radius: 5px;
  
}
.heroimg{
height: 400px;
}

/* deal section */
.order{
    background-color: rgb(216, 216, 216);
    height:200px;
    width: 1200px;
    margin-left: 100px;
 padding-top: 20px;

}

.images{
    display: flex;
    justify-content:space-around;
    
}
.textdesign{
    display: flex;
    justify-content:space-around;
    font-size: 20px;
}
.dealContainer{
    background-color: rgb(252, 191, 223);
    height: 300px;
}
.dealLeft, .socialTop{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dealParagraph{
    text-align: center;
}
.color{
    color: deeppink;
}
.socialParagraph{
    justify-content: center;
    align-items: center
}
.LatestDeal{
    background-image: url( "/FlowerAsset/Rectangle\ 9.png");
    height: 200px;
   text-align: center;
   padding-top:100px;
   padding-bottom: 100px;
}

   .email
   {
    padding: 10px 200px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    text-align:start;
}
.footerContainer{
    text-align: center;
    background-color: black;
    color: white;
   padding: 80px;
}
.textcolor{
    color:deeppink;
}
h2{
    width: 700px;
 margin-left: 300px;
}
h3{
    color: rgb(224, 215, 215);
}

